body { background-color: PowderBlue;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: #444;
    font-size: 62.5%;

}

a{
    text-decoration: none;
    font-size: 16px;
    color: black;
}


 .container{
    max-width: 1128px;
    margin: 0 auto;
}

img, video, figure, embed{
    max-width: 100%;
}




nav{
    width: 840px;
    float: right;
}


 nav ul {
    float: right;
}

nav li {
    
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
    display: inline-block;

}

nav li a{
    color:  black;
}



h1{
    font-size: 40px;
    color: black;
    margin-bottom: 0;
    margin-top: 0;
}



article{
    width: 264px;
    display: inline-block;
    margin-right: 110px;
    object-fit: cover;
}



h2{
    font-size: 24px;
}

p{
    font-size: 16px;
    text-align: justify;
    display: inline-block;
}

footer{
    width: 100%;
    margin-top: 24px;
    margin-bottom: 24px;
}

